@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="one" class="split">
    <div style="height: 900px;">WPF HTML Chromium Browser View => <a href="https://github.com/cefsharp/CefSharp">CefSharp</a></div>
</div>
<div id="two" class="split">
    <div id="contentTwo">Javascript Split Engine => <a href="https://github.com/nathancahill/split/tree/master/packages/splitjs#usage-examples">Split.js</a></div>
    <div>jkfhdkjhgfdkjhgkjfdhgjkfhdkgjhfdkjhgfkdjhgjkfhdgjkhfdkgjhfdkjhgkfjdhgkjfdhgkjhfdkjghfdkjhgjkdfhgkjhfdgjkhfdkjghdfkjhgkjfdhgkjfdhgjkhfdkjghkjfdhgkjfdhgjkhfdkgjhfdkjhgjkfdhgjkfdhgjkhfdjkghdfjkhgkjdfhgkjfhdhjfkjghfdkjh</div>
</div>
